    .ajs {
        display:inline-block;
        border:1px #3399dd solid;;
        background-color:#66aaff;  
        text-align:center; 
        cursor: pointer;  
		margin-right : 10px;
        color:#333; 
        transition:all 0.9s, color 0.3;  
    }
    
    
.ajs:hover {color:#fff;}
.ajsbutton1:hover{
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.ajsbutton1 {
	background: rgb(78,72,204);
	background: linear-gradient(45deg, rgba(78,72,204,1) 13%, rgba(89,101,216,1) 27%, rgba(115,167,242,1) 48%, 
				rgba(190,214,249,1) 73%, rgba(144,190,247,1) 100%);
	
	padding: 5px;
	
	border-radius : 4px;
	border : 0;
	color: #fff;	
}


.ajsbutton2:hover{
background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.ajsbutton2 {
	transition : .5s;
	
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);	
	padding: 5px;
	border-radius: 4px;
	border : 0;
	color: #fff;
}
.ajsbutton3:hover{
background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.ajsbutton3 {
	transition : .5s;
	
	background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);	
	padding: 5px;
	border-radius: 4px;
	border : 0;
	color: #fff;
}

.ajsbutton4:hover{
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.ajsbutton4 {
	transition : .5s;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);	
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	border : 0;
	color: #fff;
	
}

