
.customoverlay {
	position:relative;
	bottom:75px;
	border-radius:6px;
	border: 1px solid #ccc;
	border-bottom:2px solid #ddd;
	float:left;
}

.customoverlay:nth-of-type(n) {
	border:0;
	box-shadow:0px 1px 2px #888;
}

.customoverlay .title {
	display:block;
	text-align:center;
	background:#fff;
	padding:10px 15px;
	font-size:14px;
	font-weight:bold;
}

